@import "~styles/MFLManagerColors";

.number-input {
  font-family: "Roboto", sans-serif;
  border-radius: 0;
}

.number-input-group {
  margin: 0.25rem;
  margin-bottom: 1rem;
  width: 100%;
}

.button-input-group {
  margin: 0.25rem;
  margin-bottom: 1rem;
  width: 100%;
}

.select-team-button {
  width: 100%;
}
